body {
    /* /* background-color: red;  check that files are linked */
    /* update h1 using Googlefonts */
    font-family: 'Coda Caption', sans-serif;
    text-align: center;  
}

#container {
    display: grid;
    grid-template-columns: ( 4fr 2fr 2fr);
    margin: 2%;
    padding: 1%;
}

#container > div {
    border: 5px solid purple;
    text-align: center;
}

form > div {
    padding: 2%;
    text-align: center;
}

button {
    border-radius: 5px;
    margin: 1%;
}
