body {
    /* /* background-color: red;  check that files are linked */
    /* update h1 using Googlefonts */
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;  
}

h4 {
    font-family: sans-serif;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2%;
}

#container > div {
    border: 6px solid purple;
    text-align: center;
    padding: 2%;
}

form > div {
    padding: 2%;
    text-align: center;
}

button {
    border-radius: 5px;
    margin: 1%;
}
